<div class="footer-container">
					
			
					
    <footer class="social bg-secondary-1">
    
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="text-white">Feel free to contact us</h1>
                    <a href="#" class="text-white"><strong>bakangoa@gmail.com</strong></a><br>
                    <ul class="social-icons">
                        <li>
                            <a href="#">
                                <i class="icon social_twitter"></i>
                            </a>
                        </li>
                        
                        <li>
                            <a href="#">
                                <i class="icon social_facebook"></i>
                            </a>
                        </li>
                        
                        <li>
                            <a href="#">
                                <i class="icon social_instagram"></i>
                            </a>
                        </li>
                        
                        <li>
                            <a href="#">
                                <i class="icon social_dribbble"></i>
                            </a>
                        </li>
                        
                        <li>
                            <a href="#">
                                <i class="icon social_tumblr"></i>
                            </a>
                        </li>
                        
                        <li>
                            <a href="#">
                                <i class="icon social_pinterest"></i>
                            </a>
                        </li>
                    </ul><br>
                    <span class="sub">© Copright 2014 Company Name. All Rights Reserved. Free Website Template Designed by <a href="http://www.themezy.com">Themezy</a>.</span>
                </div>
            </div>
        </div>
    
    </footer>
</div>